@charset "UTF-8";

:root {
  --base-font-size: 16px;
  --font-family-body: 'DejaVu Serif', 'Roboto Serif', 'Palatino', serif;
  --font-family-headings: 'Fira Sans', 'Roboto', 'Arial', sans-serif;

  --color-black: #272727;
  --color-white: #ffffff;
  --color-lt-grey: #a0a0a0;
  --color-dk-grey: #9f9f9f;
  --color-primary: #ef3b24;
}

html {
  min-height: 100%; /* Fill viewport */
  box-sizing: border-box; /* Use border-box for sanity */
  overflow-y: scroll; /* Always show scrollbar */
}
*,
*:before,
*:after { /* Inherit box-sizing */
  box-sizing: inherit;
}

body {
  position: relative;
  height: 100%;
  color: var(--color-black);
  font-size: var(--base-font-size);
  font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  font-weight: normal;
}

a,
a:link {
  color: var(--color-primary);
}

p,
ol,
ul,
dl {
  margin: 1em 0;
}

img { /* Style alt text */
  color: #000000;
  background-color: #cccccc;
  font-style: italic;
  font-size: 0.6em;
}
