{% extends '../page.nunj.html' %}

{% block title %}Richard Carls | Sign in{% endblock %}

{% block content %}
<h1>Sign in</h1>

<h3>Web Sign-in</h3>
<form id="login"
      action="{{ locals.site.url }}/auth"
      method="post">

  <label for="me">Your Rel-Me-Auth-enabled Domain</label>
  <input type="url"
	 name="me"
	 placeholder="https://example.com" />

  <fieldset>
    <legend>Authorize scopes:</legend>
    <label for="scope-post">Post</label>
    <input type="checkbox" id="scope-post" name="scope[]" value="post" />
    <label for="scope-edit">Edit</label>
    <input type="checkbox" id="scope-edit" name="scope[]" value="edit" />
  </fieldset>
  
  <input type="submit" value="Sign in" />

  <input type="hidden" name="_csrf" value="{{ _csrf }}" />  
</form>
{% endblock %}
