@import url(https://fonts.googleapis.com/css?family=Roboto:700|Merriweather:400,300,700,300italic,700italic);

/* BASE SETTINGS */
$base-font-size:                              16px;
$base-font-size--desktop:                     18px;
$base-line-height:                            1.4;
$base-font-color:                             #000000;
$base-background-color:                       #ffffff;
$base-box-sizing:                             border-box;

$breakpoints: (
    'handheld'                                'screen and (min-width: 0.0em)',
    'desktop'                                 'screen and (min-width: 48.0em)'
);


/* UTILS */
@import "utils/em",
        "utils/media-query";


/* VARIABLES */
$body-font-family:                            Merriweather, Palatino, serif;
$body-font-weight:                            300;

$headings-font-family:                        'Roboto', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
$headings-font-weight:                        700;

$heading-size-1:                              em(36);
$heading-size-2:                              em(30);
$heading-size-3:                              em(34);
$heading-size-4:                              em(20);
$heading-size-5:                              em(16);
$heading-size-6:                              em(14);

$mono-font-family:                            'Lucida Console', 'Courier', monospace;

$content-line-length:                         42em;

$content-padding-vertical:                    em(8);
$content-padding-horizontal:                  em(16);
$content-padding-vertical-edge:               em(24);
$content-padding-vertical--desktop:           em(16);
$content-padding-horizontal--desktop:         em(24);

$content-page-gutter:                         em(80);
$sidebar-width:                               em(320);
$sidebar-avatar-size:                         em(120);


/* BASE */
@import "base/normalize",
        "base/page",
        "base/type",
        "base/chromium-font-fix";


/* LAYOUT */
@import "layout/container",
        "layout/clearfix";

$fixedfluid-breakpoint:                      desktop;
$fixedfluid-sidebar-width:                   $sidebar-width;

@import "layout/fixed-fluid";


/* COMPONENTS */
@import "components/image",
        "components/list",
        "components/form",
        "components/card",
        "components/site-layout";

$page-padding-vertical:               $content-padding-vertical;
$page-padding-horizontal:             $content-padding-horizontal;
$page-padding-vertical--desktop:      $content-padding-vertical--desktop;
$page-padding-horizontal--desktop:    $content-padding-horizontal--desktop;
$page-top-align:                      ($content-padding-vertical-edge + $sidebar-avatar-size);        /* Extra top padding for heading alignment */
$page-gutter:                         $content-page-gutter;                                      /* Gutter between page elements and sidebar */

@import "components/page";

$hcard-padding-vertical:                    $content-padding-vertical-edge;
$hcard-padding-horizontal:                  $content-padding-horizontal;
$hcard-avatar-size:                         $sidebar-avatar-size;

@import "components/site-hcard";

$notes-list-spacing:                        $content-padding-vertical-edge;
$notes-border-size:                         1px;
$notes-border-color:                        #cccccc;

$note-context-indent:                       $content-padding-vertical-edge;
$note-context-font-color:                   #828282;
$note-padding-vertical:                     $content-padding-vertical;
$note-padding-horizontal:                   0;
$note-content-padding-vertical:             $content-padding-vertical-edge;

@import "components/notes-list",
"components/note",
"components/toolbar";
        
