<article class="h-{{ note.type }}" >

  <header>
    {% if note.name %}
    <h3 class="p-name">{{ note.name }}</h3>
    {% else %}
    <data class="p-name"></data>
    {% endif %}
  </header>

  {% if note['in-reply-to'].length %}
  <aside>
    <p>In reply to <a class="u-in-reply-to" href="{{ note['in-reply-to'] }}">{{ note['in-reply-to'] }}</a>.</p>
  </aside>
  {% endif %}
  
  <div class="e-content" style="white-space: pre-wrap;">{{ note.content.value }}</div>

  <footer>
    <p>
      <a class="u-url" href="{{ note.url }}">
        <time class="dt-published" datetime="{{ note.published | date() }}">{{ note.published | date('fromNow') }}</time>
      </a><br />
      <a class="p-author h-card" href="{{ site.url }}">{{ me.firstName }} {{ me.lastName }}</a>
    </p>
  </footer>

  {% if note.comment %}
  <aside>
    <h3>Comments</h3>
    <ol>
      {% for comment in note.comment %}
      <li>
        <div class="p-comment">
          <figure class="image">
            <img src="{{ comment.author.photo }}" />
          </figure>
          <h4>{{ comment.author.name }}</h4>
          <div class="e-content" style="white-space: pre-wrap;">{{ comment.content[1].value }}</div>
          <p>
            <a class="u-url" href="{{ comment.url }}">
              <time class="dt-published" datetime="{{ comment.published | date() }}">{{ comment.published | date('fromNow') }}</time>
            </a>
          </p>
        </div>
      </li>
      {% endfor %}
    </ol>
  </aside>
  {% endif %}
  
</article>
