{% extends '../page.nunj.html' %}

{% block title %}Richard Carls | Client{% endblock %}

{% block content %}
<h1>Client</h1>

{% if user %}
<form id="micropub"
      action="{{ locals.client.endpoint }}"
      method="post">
  <fieldset>
    <legend>Simple Micropub Form</legend>

    <h3>Posting to <strong>{{ user.micropub }}</strong></h3>

    <div>
      <label for="content">Content</label>
      <textarea id="content" name="content"
	        placeholder="Write something&hellip;"></textarea>
    </div>

    <div>
      <label for="category">Category</label>
      <input type="text" id="category"
             name="category"
             placeholder="Cat1, Cat2, etc." />
    </div>
    
    <input type="submit" value="Post" />
    
    <input type="hidden" id="h" name="h" value="entry" />
    <input type="hidden" name="_csrf" value="{{ _csrf }}" />

  </fieldset>
</form>
{% else %}
<h3>Web Sign-in</h3>
<form id="login"
      action="{{ locals.site.url }}/auth"
      method="post">

  <label for="me">Your Rel-Me-Auth-enabled Domain</label>
  <input type="url"
	 name="me"
	 placeholder="https://example.com" />

  <input type="submit" value="Sign in" />

  <input type="hidden" name="_csrf" value="{{ _csrf }}" />  
</form>
{% endif %}
{% endblock %}
