{% extends '../page.nunj.html' %}

{% block title %}Richard Carls | Client{% endblock %}

{% block header %}
<h1>Client</h1>
{% endblock %}

{% block content %}
<section class="page-section" >
  {% if user %}
  <form id="micropub"
        class="form" 
        action="{{ locals.client.endpoint }}"
        method="post">

    <fieldset>
      <legend>Micropub Endpoint</legend>
      {% for url in user.micropub %}
      <div class="input-wrap" >
        <input type="radio"
               id="endpoint-{{ loop.index }}"
               name="endpoint"
               value="{{ url }}" />
        <label for="endpoint-{{ loop.index }}">{{ url }}</label>
      </div>
      {% endfor %}
    </fieldset>

    <fieldset>
      <legend>Response</legend>
      
      <div class="input-wrap">
        <label for="in-reply-to">Reply <small>(in-reply-to)</small></label>
        <input type="url"
               id="in-reply-to"
               name="in-reply-to"
               placeholder="Reply to something" />
      </div>
      
      <div class="input-wrap">
        <label for="like-of">Like <small>(like-of)</small></label>
        <input type="url"
               id="like-of"
               name="like-of"
               placeholder="Like something" />
      </div>
    </fieldset>

    <fieldset>
      <legend>Content</legend>

      <div class="input-wrap">
        <label for="name">Title <small>(Name)</small></label>
        <input type="text"
               id="name"
               name="name"
               placeholder="My Note" />
      </div>
      
      <div class="input-wrap">
        <label for="content">Content <small>(content[value])</small></label>
        <textarea id="content"
                  name="content[value]"
                  placeholder="Write something ..."></textarea>
      </div>
    
      <div class="input-wrap">
        <label for="category">Categories <small>(category[])</small></label>
        <input type="text"
               id="category"
               name="category"
               placeholder="Categories (comma-separated)" />
      </div>
    </fieldset>
    
    <input type="submit" value="Post" />
    
    <input type="hidden" name="h" type="hidden" value="entry" />
    <input type="hidden" name="_csrf" value="{{ _csrf }}" />

  </form>
  {% else %}
  <h3>Login required</h3>
  {% endif %}
</section>
{% endblock %}
