{% extends './page.nunj.html' %}

{% block title %}{{ super() }} | Home{% endblock %}

{% block main %}
<!-- Intro / Representative h-card -->
<article class="h-card">
  <img class="u-photo"
       src="{{ profile.photo }}"
       alt="Profile photo of {{ profile.name }}" />

  <h1>About Rick</h1>
  <p><span class="p-name"><span class="p-given-name">{{ profile['given-name'] }}</span> <span class="p-family-name">{{ profile['family-name'] }}</span></span> is a <span class="p-job-title">{{ profile['job-title'] }}</span> at <a class="u-org" href="{{ profile.org.url }}">{{ profile.org.name }}</a>, living in <span class="p-locality">{{ profile.locality }}</span>, <span class="p-region">{{ profile.region }}</span>, <span class="p-country-name">{{ profile['country-name'] }}</span>.</p>

  <section>
    <h2>Around the Web</h2>
    <ul class="list list--separators">
      {% for url in profile.url %}
      <li>
        <a rel="me" class="u-url {{ 'u-uid' if loop.first }}"
           href="{{ url }}">{{ url }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
</article>

<!-- Recent Notes -->
<section class="h-feed">
  <h1 class="p-name">Recent Notes</h1>
  {% if recentNotes %}
  <ol>
    {% for note in recentNotes %}
    <li>
      <article class="h-entry">
        {% include './_partials/note-header.nunj.html' %}
        {% include './_partials/note-content.nunj.html' %}
        {% include './_partials/note-footer.nunj.html' %}
      </article>
    </li>
    {% endfor %}
  </ol>
  {% else %}
  <p>No recent notes.</p>
  {% endif %}
</section>
{% endblock %}
