{% extends './page.nunj.html' %}

{% block title %}{{ super() }} | {{ note.name or 'Untitled Note' }}{% endblock %}

{% block mainclass %}post h-entry{% endblock %}

{% block main %}
{% include './_partials/note-header.nunj.html' %}
{% include './_partials/note-content.nunj.html' %}
{% include './_partials/note-footer.nunj.html' %}

<!-- Responses -->
{% if note.comment %}
<aside>
  <h3>Responses</h3>
  <ol class="list list--unstyled">
    {% for context in note.comment %}
    <li>
      <article class="note-context note-context--{{ context._postTypes[0] }} p-comment h-cite">
        {% set targetProperty = 'p-comment' %}
        {% include './_partials/note-context.nunj.html' %}
      </article>
    </li>
    {% endfor %}
  </ol>
</aside>
{% endif %}

{% endblock %}
