@charset "UTF-8";

.list > li {
  position: relative;
}

.list.list--unstyled {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}


.list.list--spaced > li {
  margin: 1em 0;
}

.list.list--separators > li:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5em;
  border-bottom: 1px dotted #e2e2e2;
}

.list.list--separators > li:last-child:after {
  border-bottom: none;
}
