{% import '../_macros.nunj.html' as macros %}

<footer>
  <dl class="metadata">
    {% if note.category %}
    <dt>Category</dt>
    {% for category in note.category %}
    <dd class="p-category">{{ category }}</dd>
    {% endfor %}
    {% endif %}
    <dt>Author</dt>
    <dd class="inline-card p-author h-card">{{ macros.inlineCard(site.me) }}</dd>
    <dt>Published</dt>
    <dd><a href="{{ note.url }}"><time class="dt-published" datetime="{{ note.published | date }}">{{ note.published | date('fromNow') }}</time></a></dd>
    <dd><small>{{ note.published | date }}</small></dd>
  </dl>
</footer>
