{% import '../_macros.nunj.html' as macros %}

<header>
  <cite>{{ macros.contextSubject(context) }}</cite>
</header>

<blockquote class="e-content">{{ context.content }}</blockquote>

<footer>
  <dl class="list list--compact metadata">
    <dt>Published</dt>
    <dd><time class="dt-published" datetime="{{ context.published | date }}">{{ context.published | date }}</time></dd>
    <dt>Cached</dt>
    <dd><time class="dt-accessed" datetime="{{ context.accessed | date }}">{{ context.accessed | date }}</time></dd>
  </dl>
</footer>
