%form,
.form {
    
    %input-wrap,
    .input-wrap {
        display: inline-block;
        width: 100%;
        
        & > input,
        & > textarea,
        & > select,
        & > fieldset {
            display: inline-block;
            width: 100%;
        }

        & > input[type="checkbox"],
        & > input[type="radio"] {
            display: inline-block;
            width: auto;
        }
    }
    
}
