%list,
.list {
    
    &.no-style { @extend %list--no-style; }
    &.inline { @extend %list--inline; }
}

%list--no-style {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    
    > li,
    > dd {
        margin-left: 0;
    }
}

%list--inline {
    @extend %list--no-style;
    
    & > li {
        display: inline-block;
    }
}