$notes-list-spacing:    em(8)       !default;
$notes-border-size:     1px         !default;
$notes-border-color:    #cccccc     !default;

.notes-list {
    @extend %list--no-style;
    
    > li {
        padding: $notes-list-spacing 0;
        border-bottom: $notes-border-size solid $notes-border-color;
        
        &:last-child {
            border-bottom: none;
        }
    }
}