$note-context-indent:                 em(24)      !default;
$note-context-font-color:             #cccccc     !default;
$note-padding-horizontal:             em(16)      !default;
$note-padding-vertical:               em(8)       !default;
$note-content-padding-vertical:       em(24)      !default;

$note-meta-font-color:                #cccccc     !default;

.note {
    > header,
    > .note-section,
    > footer { @extend %note__section; }
    
    > .note-content {
        @extend %content;
        
        padding: $note-content-padding-vertical $note-padding-horizontal;
        white-space: pre-wrap;
    }
    
    > .note-context {
        @extend %note__section;
        
        .context {
            margin: 0;
            padding-left: $note-context-indent;
            
            .context-content {
                @extend %content;
                
                color: $note-context-font-color;
                font-style: italic;
                white-space: pre-wrap;
            }
            
            cite {
                display: block;
                font-size: small;
            }
        }
    }
    
    .note-timestamp {
        @extend %note__meta;
        
        line-height: 1.0;
        text-align: right;
    }
}

%note__section {
    padding: $note-padding-vertical $note-padding-horizontal;
}

%note__meta {
    padding: $note-padding-vertical 0;
    color: $note-meta-font-color;
    font-weight: bold;
    
    a {
        color: $note-meta-font-color;
        text-decoration: none;
    }
}