$page-padding-vertical:               em(8) !default;
$page-padding-horizontal:             em(16) !default;
$page-padding-vertical--desktop:      em(24) !default;
$page-padding-horizontal--desktop:    em(24) !default;

$page-top-align:                      em(24) !default;        /* Extra top padding for heading alignment */
$page-gutter:                         em(80) !default;        /* Gutter between page elements and sidebar */


%page-header,
.page-header {
    @extend %page-section;
    
    @include media-query($fixedfluid-breakpoint) {
        padding-top: $page-top-align !important;
    }
    
}

%page-section,
.page-section {
    padding:  $page-padding-vertical $page-padding-horizontal;
    
    @include media-query($fixedfluid-breakpoint) {
        padding: $page-padding-vertical--desktop $page-padding-horizontal--desktop;
        padding-left: $page-gutter;
    }
}