$sidebar-padding-vertical:            em(24) !default;
$sidebar-padding-horizontal:          em(16) !default;
$sidebar-background-color:            transparent !default;

$sidebar-avatar-size:                 em(120) !default;

.sidebar-wrap {
  position: relative;
  height: 100%;
  padding: $sidebar-padding-vertical $sidebar-padding-horizontal;
  background-color: $sidebar-background-color;
  text-align: center;
  overflow: hidden;
}

.site-hcard {
  .avatar {
    @extend %image;
    @extend %image--circle;

    max-width: $sidebar-avatar-size;
  }
  
  .info {
    @extend %list--no-style;

    .name {
      @extend %type--headings;
      
      margin: 0.67em 0;
      font-size: em(36);
    }
    
    .tagline,
    .location,
    .affiliation {
      @extend %type--headings;
      
      font-size: em(16);
    }
  }
}
