$sidebar-font-color:               #000000 !default;
$sidebar-background-color:         #ffffff !default;
$main-font-color:                  #000000 !default;
$main-background-color:            #ffffff !default;

%site-sidebar,
.site-sidebar {
    @extend %fixedfluid__sidebar;
    
    color: $sidebar-font-color;
    background-color: $sidebar-background-color;
}

%site-main,
.site-main {
    @extend %fixedfluid__container;

    position: relative;
    color: $main-font-color;
    background-color: $main-background-color;
}
